 .u-section-1 {
  background-image: url("images/0a8f1110e7bfb0635f9d4e993bdec179.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-group-1 {
  width: 1212px;
  min-height: 792px;
  height: auto;
  margin: 36px auto 0 -43px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-menu-1 {
  margin: 0 61px 0 auto;
}

.u-section-1 .u-nav-1 {
  font-size: 3.75rem;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 77px 20px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  letter-spacing: 2px;
  font-size: 3.75rem;
  margin: 54px 93px 0 145px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 18px auto 0 34px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 46px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 46px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 201px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 218px;
  height: auto;
  margin: 38px auto 49px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/545dddaf0c5902f38b6d450062af6250.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-3 .u-group-1 {
  width: 716px;
  min-height: 165px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  position: relative;
  margin: 65px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 327px;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.u-section-3 .u-group-2 {
  width: 972px;
  min-height: 587px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  margin: 12px 11px 0 29px;
}

.u-section-3 .u-text-5 {
  font-size: 6rem;
  margin: 84px 11px 0 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 280px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: url("images/7a249bf233fa1739baae8b35550b8706.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 761px;
}

.u-section-4 .u-image-1 {
  height: 352px;
  margin: 0 auto 60px 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 3.75rem;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 3rem;
}

.u-section-4 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 761px;
}

.u-section-4 .u-image-2 {
  height: 360px;
  width: 560px;
  margin: 0 auto 0 -10px;
}

.u-section-4 .u-text-3 {
  font-size: 4.5rem;
  margin: 67px 20px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 14px auto 0 34px;
}

.u-section-4 .u-text-4 {
  font-size: 6rem;
  margin: 14px -48px 60px 237px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-4 .u-image-2 {
    height: 193px;
    width: 300px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-btn-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    height: 146px;
    width: 227px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  min-height: 404px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/395af7606e597edb4df6965f50b85907.jpeg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/c47273dfc1e501866c9073171076f29a.jpeg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/e7d5fa55234731a852a3f78b8ea5d338.jpeg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/81431873678bb72b501f3dc1de9d8521.jpeg");
  min-height: 404px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: url("images/bb617d1ec82963182c193d6c89b6aed9.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 720px;
}

.u-section-6 .u-line-1 {
  height: 132px;
  transform-origin: center bottom 0px;
  width: 6px;
  margin: -52px auto 0 567px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-size: 3rem;
  margin: 18px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 60px 106px;
}

.u-section-6 .u-icon-2 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-6 .u-line-1 {
    width: 5px;
    margin-left: 468px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-6 .u-line-1 {
    width: 4px;
    margin-left: 358px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-line-1 {
    margin-left: 269px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    width: 3px;
    margin-left: 169px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}